<main class="purchases-list container">
  <h1 class="text-center">Список покупок</h1>

  <div class="d-flex justify-content-end">
    <button (click)="toggleSortType()" class="btn btn-info mr-3">
      Сортировка по наименованию: {{sortType === 'ASC' ? '↑' : '↓'}}</button>
    <a routerLink="add" class="btn btn-dark">Добавить покупку</a>
  </div>

  <ul class="list-group mt-5">
    <li *ngFor="let purchase of purchases | async | sortByTitle: sortType" [class.bg-success]="!purchase.isPurchased"
        class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <span [class.text-white]="!purchase.isPurchased">{{purchase.title}}</span>
        <span class="ml-2 badge bg-primary text-white rounded-pill">{{purchase.quantity}}</span>
      </div>
      <div>
        <a [routerLink]="'edit/'+purchase.id" class="btn btn-secondary mr-3">Редактировать</a>
        <button (click)="toggleStatus(purchase)" [class.bg-secondary]="purchase.isPurchased"
                class="btn btn-primary" style="min-width: 140px">
          {{purchase.isPurchased ? 'Не куплено &#10006;' : 'Куплено &#10003;'}}
        </button>
      </div>
    </li>
  </ul>
</main>
