<div class="container">
  <div class="row">
    <div class="col-12 m-5">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae vel atque ab
      eum mollitia magni excepturi qui, veritatis autem veniam, doloremque
      assumenda accusamus! Amet maxime doloribus officia quae unde ullam minus
      corrupti iste ipsum, est facere aut quia in molestiae ad ducimus itaque
      explicabo asperiores cupiditate esse consequuntur eaque. Labore, ad cumque
      aspernatur incidunt eum aliquam. Blanditiis, aperiam cumque soluta rem
      perspiciatis rerum libero, tempore ut fuga autem exercitationem consectetur
      doloribus eligendi voluptates! Voluptatem aut accusantium nihil. Numquam at
      eum molestias nostrum distinctio qui quia voluptatibus consequatur, amet
      eaque quam a voluptatem facilis provident eos, dolore eligendi ea? Atque,
      nostrum minus officiis ducimus ullam et molestiae nisi saepe! Culpa, ad in
      temporibus, omnis voluptas officia quia consequatur perspiciatis illo quo
      perferendis aspernatur sequi inventore quisquam. Cum enim illo facere quidem
      quos consequatur tempore iste, at illum! Excepturi quam beatae amet rerum
      sunt aut corporis, cum et cupiditate at perferendis minima. Culpa dolore
      quia illo temporibus nisi odit, eveniet ipsam qui perferendis, iure porro
      omnis consequatur excepturi minima reprehenderit ut ducimus laboriosam
      accusamus hic saepe amet vel necessitatibus veritatis aspernatur. Assumenda
      error veritatis veniam maiores dignissimos alias enim ut quibusdam aliquid
      corrupti ex possimus minus sunt, sapiente explicabo harum recusandae
      nesciunt itaque. Inventore cum consectetur adipisci, nostrum consequatur
      accusantium voluptate dolorum veniam delectus repudiandae doloribus hic,
      dicta, fugit laboriosam ratione? Maxime odit dicta unde incidunt reiciendis
      accusamus hic, nobis repudiandae cum! Ipsum quae vitae, nulla quia ad
      adipisci possimus porro. Sunt corrupti accusantium culpa eum necessitatibus
      adipisci facere voluptate tempore perspiciatis iste! Dolorum vero
      praesentium dignissimos quam sequi possimus similique! Esse suscipit, in
      rerum deserunt ipsum maiores a mollitia odit cumque ut placeat sunt sed ea.
      Impedit eius ea recusandae numquam itaque a inventore doloremque
      reprehenderit, ab quae, dicta, repellat expedita eum dolore ratione. Minima
      vitae adipisci fugiat sit non laborum!
    </div>
  </div>
</div>
