<main class="container d-flex flex-column align-items-center">
  <h1>Редактирование покупки</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-100 mt-4" style="max-width: 600px">
    <div class="mb-3">
      <label for="title" class="form-label">Наименование</label>
      <input formControlName="title" placeholder="Не менее 2 символов" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
      <label for="quantity" class="form-label">Количество</label>
      <input formControlName="quantity" placeholder="Минимум 1 шт" type="number" class="form-control" id="quantity">
    </div>
    <div class="d-flex justify-content-end">
      <button (click)="onDelete()" type="button" class="btn btn-danger mr-3">Удалить</button>
      <button type="reset" class="btn btn-secondary mr-3">Очистить</button>
      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Сохранить</button>
    </div>
  </form>

</main>
